<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
    	<a class="navbar-brand" href="/">Tenant Tracker</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>
    	<div class="collapse navbar-collapse" id="navbarResponsive">
       		<ul class="navbar-nav ml-auto">
			    <li class="nav-item">
			      <a class="nav-link" href="landlord">Properties</a>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#">Appliances
			        <span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item">
			    	<a class="nav-link" href="rent">Rent History</a>
			    </li>
      		</ul>
    	</div>
  	</div>
</nav>

<!-- Page Content -->
<div class="container" ng-controller="ApplianceController" ng-init="loadAppliances()">

	<!-- Page Heading -->
	<h1 class="my-4">Appliances</h1>

	<!-- Property Cards-->
	<div class="row">
  		<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    		<div class="card h-100" ng-repeat="appliance in appliances">
        		<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
       				<div class="card-body">
          				<h4 class="card-title">
            				<a href="#">{{appliance.name}}</a>
          				</h4>
						<p>Status: {{appliance.status}}</p>
						<p>Description: {{appliance.repairDesc}}</p>
						<button class="btn btn-primary" ng-click="requestRepair()" ng-show="reqRepairButton">Request Repairs</button>
						<button class="btn btn-danger" ng-click="needsRepair()" ng-show="needsRepairButton">Needs Repairs</button>
						<div class="form-group" ng-show="repairRequested">
							<label for="repairRequest"><b>Description:</b></label>
							<textarea class="form-control" id="repairRequest" rows="3" ng-model="repairDesc"></textarea>
							<button class="btn btn-primary" ng-click="submitRepair()">Submit</button>
						</div>
          				<div class="alert alert-success" role="alert" ng-show="successMsg">Success!</div>
       			 	</div>
  				</div>
			</div>
		</div>
	</div>
