<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">Tenant Tracker</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Properties
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" ng-click="toAppPage()">Appliances</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/rent">Rent History</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Page Content -->
<div class="container">

	<!-- Page Heading -->
	<h1 class="my-4">Welcome Landlord!</h1>

<!--Propterty Cards-->
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
			<div class="card h-100">
				<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
				<div class="card-body">
					<h4 class="card-title">
						<a href="#">{{ property.address }}</a>
					</h4>
					<p class="card-text">Tenants</p>
					<ul>
						<li ng-repeat="x in property.tenants">{{x.name}}</li>
					</ul>
					<p class="card-text">Number of Appliances: {{property.applianceCount}}</p>
				</div>
			</div>
		</div>
		
		
	</div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; Tenant Tracker 2017</p>
	</div>
</footer>
