<!DOCTYPE HTML>
<html lang=en>
  <body id="page-top">
    
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="landlord.html">Tenant Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Intro Header -->
      <div class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <br>
              <br>
              <ul class="list-inline banner-login-buttons">
                <li class="list-inline-item">
                  <a ng-click="tenantLogin()" class="btn btn-default btn-lg">Tenant Login</a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    
  </body>
  
</html>