body { padding-top:30px; }


ul.banner-login-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-login-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-login-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-login-buttons li:last-child {
        margin-bottom: 0; } }

.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0; }

.btn-default {
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: transparent; 
}
.btn-default:focus, .btn-default:hover {
    font-weight: bold;
}